/* Parent Container */
.content_img1{
 left: 60%;
 top: 30%;
 position: absolute;
 width: 470px;
 height: 470px;
}

/* Child Text Container */
.content_img1 div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img1:hover{
 cursor: pointer;
}

.content_img1:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}
