body  {
  background-color: #cccccc;
    background-color: var(--white);
    color: var(--font-color);
    font-family: Nunito,sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
element.style {
    width: 600px;
}
.page__content[data-v-5b320d39] .post figure {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-top: 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
body {
    background-color: var(--white);
    color: var(--font-color);
    font-family: Nunito,sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
:root {
    --font-color: #535763;
    --white: #fff;
    --red: #f00046;
    --green: #08a97e;
    --orange: #fa9100;
    --orange-hover: #ff7814;
    --darkblue: #006482;
    --darkblue-hover: #0078a0;
    --blue: #00aabe;
    --blue-hover: #39c6f5;
    --dark--1: #2d2d2f;
    --dark: #363638;
    --dark-1: #28282b;
    --gray: #6c6c6e;
    --gray-1: #8d8d8f;
    --gray-2: #ababb1;
    --gray-3: #cbcbd2;
    --gray-4: #e3e3ea;
    --gray-5: #e0e0e0;
    --light: #f2f2f4;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
